body {
    background-color: antiquewhite;
    font-family: Pokemon;
}


@font-face {
    font-family: Pokemon;
    src: url(./pkmn.ttf);
}

.titulo {
    text-align: center;
}

.pokemons {
    text-align: left;
}

.jiggly {
    background-color: grey;
    border-radius: 5px;
}

.jigglys {
    background-color: pink;
    border-radius: 5px;
}

#vulpix {
    background-color: orange;
    border-radius: 5px;
}

#mew {
    background-color: pink;
    border-radius: 5px;
}

.inicio {
    text-align: center;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
}

a {
    text-decoration: none;
}