body {
    background-color: antiquewhite;
    font-family: Pokemon;
}


@font-face {
    font-family: Pokemon;
    src: url(./pkmn.ttf);
}

.titulo {
    text-align: center;
}

.pokemons {
    text-align: left;
}






