@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
       
.silkscreen-regular {
font-family: "Silkscreen", sans-serif;
font-weight: 400;
font-style: normal;
}

body {
    background-color: antiquewhite;
    font-family: Pokemon;
}

.titulo {
    text-align: center;
}


.gris {
    background-color: grey;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
}

.rosa {
    background-color: pink;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
}

#vulpix {
    background-color: orange;
    border-radius: 5px;
}

#mew {
    background-color: pink;
    border-radius: 5px;
}

.inicio {
    text-align: center;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
}

a {
    text-decoration: none;
}